<template>
  <div class="navbar">
    <h1>My Vuex App Todos</h1>
    <ul>
      <li>Home</li>
      <li>About</li>
      <li v-if="auth.isAuthenticated">
        Total todos: {{ todos.length }}<button>Logout</button>
      </li>
      <li v-else>Login</li>
    </ul>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "Navbar",
  computed: mapState(["todos", "auth"])
};
</script>

<style scoped>
.navbar li {
  padding: 20px;
  text-align: center;
  color: black;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}

.navbar {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

h1 {
  margin-left: 6%;
}

@media (max-width: 1024px) {
  .navbar li[data-v-41458b80] {
    padding: 15px;
    color: black;
  }
}
@media (max-width: 768px) {
  .navbar li[data-v-41458b80][data-v-41458b80] {
    padding: 3px;
  }
}
</style>
