<template>
  <p class="progress-bar">Progress: {{ progress }}%</p>
</template>

<script>
export default {
  name: "ProgressBar",
  computed: {
    progress() {
      return Math.round(
        (this.$store.state.todos.filter(todo => todo.completed).length /
          this.$store.state.todos.length) *
          100
      );
    }
  }
};
</script>

<style scoped>
.progress-bar {
  padding: 5px;
  text-align: center;
  color: black;
  background: rgb(204, 202, 202);
}
</style>
