<template>
  <div class="status-bar">
    <p>Done</p>
    <ul>
      <li v-for="todo in doneTodos" :key="todo.id">
        {{ todo.title }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "StatusBar",
  computed: {
    doneTodos() {
      return this.$store.state.todos.filter(todo => todo.completed);
    }
  }
};
</script>

<style scoped>
.status-bar li {
  text-align: center;
  color: black;
}

.status-bar ul {
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}

.status-bar {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
</style>
