<template>
  <div class=" to-do-list">
    <ul v-if="auth.isAuthenticated">
      <li v-for="todo in todos" :key="todo.id">{{ todo.title }}</li>
    </ul>
    <p v-else style="text-align:center;">Not Authorised</p>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "Todos",
  computed: mapState(["todos", "auth"])
};
</script>

<style scoped>
.to-do-list ul {
  padding: 0 10px 10px 10px;
  list-style-type: none;
}

.to-do-list li {
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 4px;
  background: white;
  color: black;
}

.to-do-list {
  margin-left: 5%;
  margin-right: 5%;
}
</style>
