<template>
  <div class="col-md-5 app">
    <Navbar />
    <Todos />
    <StatusBar />
    <ProgressBar />
  </div>
</template>

<script>
import Todos from "./components/Todos.vue";
import Navbar from "./components/Navbar.vue";
import StatusBar from "./components/StatusBar.vue";
import ProgressBar from "./components/ProgressBar.vue";
import "./app.css";
export default {
  name: "App",
  components: {
    Navbar,
    Todos,
    StatusBar,
    ProgressBar
  }
};
</script>

<style>
.app {
  margin-left: 30%;
  margin-top: 10%;
  border-radius: 15px;
  border: 1px solid gray;
  background: rgb(233, 207, 218);
  background: radial-gradient(
    circle,
    rgba(233, 207, 218, 1) 0%,
    rgba(135, 192, 217, 1) 100%
  );
  box-shadow: 0px 7px 23px rgba(0, 0, 0, 0.25);
}

@media (max-width: 425px) {
  .app {
    margin-left: 16%;
    margin-top: 26%;
    width: 69%;
  }
}

@media (max-width: 320px) {
  .app {
    margin-left: 9%;
    margin-top: 26%;
    width: 82%;
  }
}
</style>
